.DS_Store
settings.json
raw
train
val
test
kepler_filenames_train.npy
kepler_filenames_val.npy
kepler_filenames_test.npy
X_train_kepler.npy
y_train_kepler.npy
X_val_kepler.npy
y_val_kepler.npy
X_test_kepler.npy
y_test_kepler.npy
all_extracted_features.txt
selected_features.txt
gbt_PLOT.py
gbt_precision=0.82.py
kepler_gbt_roc_pr_curves.png
kepler_roc_pr_curves.png
mlp_PLOT.py
mlp_precision=0.82.py
mlp_score_density.py
